<div class="ads">
    <div class="ads-set">
        <div class="ads-box">
            <img src="/img/images/Binance.png" alt="binance" />binance
        </div>
        <div class="ads-box">
            <img src="/img/images/upbit.PNG" alt="upbit" />upbit
        </div>
        <div class="ads-box"><img src="/img/images/ckex.png" alt="ckex" />ckex</div>
    </div>
    <div class="ads-set">
        <div class="ads-box">
            <img src="/img/images/remittance.PNG" alt="remittance" />remitano
        </div>
        <div class="ads-box">
            <img src="/img/images/mercatox.png" alt="mercatox" />mercatox
        </div>
        <div class="ads-box"><img src="/img/images/luno.PNG" alt="luno" />luno</div>
    </div>
    <div class="ads-set">
        <div class="ads-box">
            <img src="/img/images/coinsph.png" alt="coinsph" />coins.ph
        </div>
        <div class="ads-box">
            <img src="/img/images/coinbase.png" alt="coinbase" />coinsbase
        </div>
        <div class="ads-box">
            <img src="/img/images/yobit.png" alt="yobit" />yobit
        </div>
    </div>
</div>