<div class="checkout_core">
    <div class="payment-info">
      <img src="/img/images/Binance.png" alt="binance" />
      <div class="customer-info">
        <h3 id="userName">hexcode@binancepay</h3>
        <span id="amountCore">checkout <span id="deptAmount"></span><span id="payCoin"></span></span>
      </div>
    </div>
    <div class="main">
        <div class="instructions_message">
          <span>Waiting to confirm checkout.</span>
          <span>This may take a few minutes</span>
        </div>
      
      <div class="timer_core">
        Please wait for <span id="timer">**:**</span>
      </div>
      <a href="#" class="reverse">Show wallet address</a>
    </div>
    <div class="footer">
      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
          <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
        </svg>
        Secured by <span class="bold">binance checkout</span></p>
    </div>
  </div>