<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binance - Cryptocurrency Exchange for Bitcoin, Ethereum & Altcoins </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="shortcut icon" href="/img/images/Binance.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <!-- <div class="header">
            <div class="text">
                <p>To see content specific to your location, we suggest <span class="location">Nigeria</span> as your preferred country / region.</p>
                <div class="btn">continue</div> <span class="material-symbols-sharp close">close</span>
            </div>
        </div> -->
        <div class="nav">
            <a href="www.binance.com">
                <img src="/img/images/Binance-Logo.png" alt="Binance" />
            </a>
            <ul class="menu menu-1">
                <li class="menu-list">
                    <span class="material-symbols-sharp">apps</span>
                    <span class="material-symbols-sharp">arrow_drop_down</span></li>
                <li class="menu-list">
                    <span class="title">buy crypto</span>
                    <span style="text-transform: uppercase;" class="fiat">egp</span>
                    <span class="material-symbols-sharp">arrow_drop_down</span>
                </li>
                <li class="menu-list">
                    <span class="title">markets</span>
                    <span class="material-symbols-sharp">arrow_drop_down</span>
                </li>
                <li class="menu-list">
                    <span class="title">trade</span>
                    <span class="material-symbols-sharp">arrow_drop_down</span>
                </li>
                <li class="menu-list">
                    <span class="title">dervivates</span>
                    <span class="material-symbols-sharp">arrow_drop_down</span>
                </li>
                <li class="menu-list">
                    <span class="title">earn</span>
                    <span class="material-symbols-sharp">arrow_drop_down</span>
                </li>
                <li class="menu-list">
                    <span class="title">finance</span>
                    <span class="material-symbols-sharp">arrow_drop_down</span>
                </li>
                <li class="menu-list">
                    <a href="#" style="text-transform: uppercase;" class="title">nft</a>
                </li>
                <li class="menu-list">
                    <span class="title">institution</span>
                    <span class="material-symbols-sharp">arrow_drop_down</span>
                </li>
                <li class="menu-list">
                    <a href="#" class="title">feed</a>
                </li>
            </ul>
            <ul class="menu menu-2">
                <li class="menu-list"><a href="https://accounts.binance.com/en/login">login</a></li>
                <li class="menu-list">
                    <a href="" class="register">
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" style="margin-right: 5px;" class="bi bi-gift-fill" viewBox="0 0 16 16">
                            <path d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zm6 4v7.5a1.5 1.5 0 0 1-1.5 1.5H9V7h6zM2.5 16A1.5 1.5 0 0 1 1 14.5V7h6v9H2.5z"/>
                        </svg>
                        <span>register</span>
                    </a>
                </li>
            </ul>
            <ul class="menu menu-3">
                <li class="menu-list">
                    <span class="material-symbols-sharp">notifications</span>
                </li>
                <li class="menu-list">
                    <span class="material-symbols-sharp">download</span>
                </li>
                <li class="menu-list">
                    <span class="material-symbols-sharp">language</span>
                </li>
                <li class="menu-list">
                    <span class="material-symbols-sharp">dark_mode</span>
                </li>
            </ul>
            <div class="mobile-menu">
                <span class="material-symbols-sharp">search</span>
                <a href="https://accounts.binance.com/en/register" class="register">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" style="margin-right: 5px;" class="bi bi-gift-fill" viewBox="0 0 16 16">
                        <path d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zm6 4v7.5a1.5 1.5 0 0 1-1.5 1.5H9V7h6zM2.5 16A1.5 1.5 0 0 1 1 14.5V7h6v9H2.5z"/>
                    </svg>
                    <span>register</span>
                </a>
                <span class="material-symbols-sharp">menu</span>
            </div>
        </div>
        <div class="main">
            <div class="top">
                <a> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#F0B90B" class="bi bi-gift-fill" viewBox="0 0 16 16">
                        <path d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zm6 4v7.5a1.5 1.5 0 0 1-1.5 1.5H9V7h6zM2.5 16A1.5 1.5 0 0 1 1 14.5V7h6v9H2.5z" />
                    </svg>
                    <span>Register now - Get up to 100 USDT in trading fee rebate (for verified users)</span>
                    <span class="box">redeem gift</span>
                </a>
            </div>
            <div class="content">
                <h2>binance pay - official crypto giveaway!</h2>
                <img src="/img/images/Capture.PNG" alt="giveaway-box" />
                <p>Binance Pay is announcing a new promotion where eligible users can each <span class="bold">receive a 2x/3x bonus</span> depending on the amount you participate with in Crypto Box for the biggest giveaway ever.</p>
            <p>All successful Binance Pay investors during the promotion period can each receive an
                additional 5 BUSD voucher reward. The total price pool amounts to <span class="bold">$1 000 000 BUSD,</span> and
                will be distributed on first come, first served basis. This event will end when the assigned coins
                are distributed completely.</p>
            <p>To participate, you are required to have at least one of the following in your Crypto
                Wallet: <span class="bold">0.2 ETH, 3.52 LTC, 0.014 BTC, 3716 DOGE, 1.07 BNB, 5,206 TRX</span> to join the
                event.</p>
            <p>If you want to participate, it is really simple to do. Just click on any of the Crypto Wallet of your choice below or Chat with our Live Support for help.</p>
            <h3>how to participate in the crypto box giveaway.</h3>
            <ol class="hw-steps">
                <li class="hw-list"><span>step 1:</span> Click on any of the Crypto Wallet you wish to participate with below</li>
                <li class="hw-list"><span>step 2:</span> Put the amount you want to participate with, then generate payment</li>
                <li class="hw-list"><span>step 3:</span> Input the Wallet Address you want to participate with</li>
                <li class="hw-list"><span>step 4:</span> Make your deposit</li>
                <li class="hw-list"><span>step 5:</span> Once your deposit is completed wait within a time frame of 4 to 8 minutes to receive your bonus</li>
            </ol>
            <p><span class="bold" style="text-transform: uppercase;">note: </span>If your bonus is not received within 4-8 minutes, message our live support team to inform us about your participation.</p>
            <ul class="coin-link">
                <li class="coin-link-list"><a href="/eth"><span>click here to participate with eth</span> <span class="btn">get
                            started</span></a>
                </li>
                <li class="coin-link-list"><a href="/btc"><span>click here to participate with btc</span> <span class="btn">get
                            started</span></a>
                </li>
                <li class="coin-link-list"><a href="/ltc"><span>click here to participate with ltc</span> <span class="btn">get
                            started</span></a>
                </li>
                <li class="coin-link-list"><a href="/doge"><span>click here to participate with doge</span> <span class="btn">get
                            started</span></a>
                </li>
                <li class="coin-link-list"><a href="/bnb"><span>click here to participate with bnb</span> <span class="btn">get
                            started</span></a>
                </li>
                <li class="coin-link-list"><a href="/trx"><span>click here to participate with trx</span> <span class="btn">get
                            started</span></a>
                </li>
            </ul>
            <p>P.S. Fancy an extra chance to win? <span>We are giving 10, 000 TWT tokens each</span> to 10
                lucky winners that Tweet this post on Twitter, and 10 lucky winners to share this post on Facebook!.
            </p>
            <h4>Rules: </h4>
            <p><b>You can participate from any wallet (offline or exchange wallet) You can only
                    participate once per coin</b>.</p>
            <p>P.S. Do not deposit to any address given to you on telegram by anybody claiming to be an
                admin, We
                will not be held responsible for any lost, payment should only be generated on the website you can
                ask your admin for help.</p>
            <p><span>Note: </span>Everyone can participate in this event, there are no sort of country
                restrictions.</p>
            </div>
        </div>
        
        <div class="footer">
            <div class="main">
                <div class="footer-list">
                    <div class="hrr">
                        <h3>about us</h3>
                        <span class="material-symbols-sharp" id="f1">add</span>
                    </div>
                    <div id="show_1" class="show">
                    <a href="www.binance.com/about">about</a>
                    <a href="www.binance.com/press">press</a>
                    <a href="www.binance.com/career">careers</a>
                    <a href="www.binance.com/about#email">business contacts</a>
                    <a href="www.binance.com/community">community</a>
                    <a href="www.binance.com/blog">binance blog</a>
                    <a href="www.binance.com/land/building_trust">build trust</a>
                    <a href="www.binance.com/legal/home">legal</a>
                    <a href="www.binance.com/terms">terms</a>
                    <a href="www.binance.com/privacy">privacy</a>
                    <a href="www.binance.com/risk-warning">risk warning</a>
                    <a href="www.binance.com/support/announcement">announcements</a>
                    <a href="www.binance.com/news">news</a>
                    <a href="www.binance.com/notice">notices</a>
                    <a href="www.binance.com/country-region-sector">sitemap</a>
                    <a href="#">cookie preferences</a>
                    </div>
                </div>
                <div class="footer-list">
                    <div class="hrr">
                    <h3>products</h3>
                    <span class="material-symbols-sharp" id="f2">add</span>
                    </div>
                    <div id="show_2" class="show">
                    <a href="www.binance.com/">exchange</a>
                    <a href="academy.binance.com">academy</a>
                    <a href="www.binance.com/live">binance live</a>
                    <a href="www.binance.charity">charity</a>
                    <a href="www.binance.com/cards">card</a>
                    <a href="lab.binance.com">labs</a>
                    <a href="launchpad.binance.com">launchpad</a>
                    <a href="research.binance.com">research</a>
                    <a href="www.binance.com/building_trust">trust wallet</a>
                    <a href="www.binance.com/nft/home">nft</a>
                    <a href="pay.binance.com">binance pay</a>
                    <a href="www.binance.com/gift-card">binance gift card</a>
                    <a href="www.binance.com/BABT?source=footer">babt</a>
                    <a href="www.binance.com/tax">binance tax</a>
                    </div>
                </div>
                <div class="footer-list">
                    <div class="hrr">
                        <h3>service</h3>
                        <span class="material-symbols-sharp" id="f3">add</span>
                    </div>
                    <div id="show_3" class="show">
                    <a href="">download</a>
                    <a href="">desktop application</a>
                    <a href="">buy crypto</a>
                    <a href="">institutional & <span class="uppercase">vip</span> services</a>
                    <a href=""><span class="uppercase">otc</span> trading</a>
                    <a href="">referral</a>
                    <a href="">affiliate</a>
                    <a href="" class="uppercase">bnb</a>
                    <a href="">listing application</a>
                    <a href=""><span class="uppercase">p2p</span> merchant application</a>
                    <a href=""><span class="uppercase">p2pro</span> merchant application</a>
                    <a href="">historical market data</a>
                    <a href="">proof of reserves</a>
                    </div>
                </div>
                <div class="footer-list">
                    <div class="hrr">
                        <h3>support</h3>
                        <span class="material-symbols-sharp" id="f4">add</span>
                    </div>
                    <div id="show_4" class="show">
                    <a href="">request <span class="lowercase">a</span> feature</a>
                    <a href="">support center</a>
                    <a href="">24/7 chat support</a>
                    <a href=""><span class="uppercase">api</span>s</a>
                    <a href="">fees</a>
                    <a href="">trading rules</a>
                    <a href="">binance verify</a>
                    <a href="">law enforcement requests</a>
                    <a href="">binance legal (court orders)</a>
                    <a href="">binance airdrop portal</a>
                    </div>
                </div>
                <div class="footer-list">
                    <div class="hrr">
                        <h3>learn</h3>
                        <span class="material-symbols-sharp" id="f5">add</span>
                    </div>
                    <div id="show_5" class="show">
                    <a href="">learn & earn</a>
                    <a href="">browse crypto prices</a>
                    <a href="">bitcoin price</a>
                    <a href="">ethereum price</a>
                    <a href="">buy <span class="uppercase">bnb</span></a>
                    <a href="">buy <span class="uppercase">busd</span></a>
                    <a href="">buy bitcoin</a>
                    <a href="">buy ethereum</a>
                    <a href="">buy dogecoin</a>
                    <a href="">buy <span class="uppercase">xrp</span></a>
                    <a href="">buy tradable altcoins</a>
                    </div>
                </div>
                <div class="footer-list">
                    <h3>community</h3>
                    <div>
                        <a href=""><i class="fa-brands fa-discord"></i>
                        </a>
                        <a href=""><i class="fa-brands fa-telegram"></i>
                        </a>
                        <a href=""><i class="fa-brands fa-tiktok"></i>
                        </a>
                        <a href=""><i class="fa-brands fa-facebook"></i>
                        </a>
                    </div>
                    <div>
                        <a href=""><i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href=""><i class="fa-brands fa-reddit"></i>
                        </a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-vk"></i>
                        </a>
                    </div>
                    <a href=""><i class="fa-brands fa-youtube"></i>
                    </a>
                </div>
            </div>
            <div class="bottom">
                <p id="dateYear"></p>
            </div>
        </div>
    </div>
    <script src="/jscript/index.js"></script>
    <script src="https://kit.fontawesome.com/73e2c614a1.js" crossorigin="anonymous"></script>
</body>
</html>
